@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Helsinki Bike App!</h1>

Solita Dev Academy Finland 2023 pre-assignment solution, a web application showcasing
data from city bike journeys in the Helsinki Capital area. Our application allows you 
to view journeys, stations, and their details such as distance, duration, and more. 

<br/>
<br/>

<p>
With a user-friendly navbar on the left side of the screen, you can navigate between months
and stations, and viewinformation such as the total number of journeys starting and ending
at a station,as well as their average distance.
</p>


