@page "/station/details/{id:int}"
@using Solita.HelsinkiBikeApp.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Staion details</PageTitle>

@if (null == bikeStation)
{
    <p>Loading station...</p>
}
else
{
    <span>@bikeStation.Adress</span> <span>@bikeStation.Name</span>
    <br />
    <span>Total number of journeys starting from the station: @totalStarts</span>
    <br />
    <span>Total number of journeys ending at the station: @totalEnded</span>
    <br />
    
}

@code {

    private BikeStation? bikeStation;
    private MayJourney? mayJourney;
    private JuneJourney? juneJourney;
    private JulyJourney? julyJourney;

    private int? totalStarts = 0;
    private int? totalEnded = 0;

    [Parameter]
    public int ID { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var stations = await Http.GetFromJsonAsync<BikeStation[]>($"bikestation");
        bikeStation = stations.FirstOrDefault(s => s.ID == ID);

        if (bikeStation != null)
        {
            totalStarts = await NumberOfJourneysStarted(ID);
            totalEnded = await NumberOfJourneysEnded(ID);
        }

    }

    //Get the total number of journeys started from station(id)
    private async Task<int> NumberOfJourneysStarted(int id)
    {

        int totalStarts = 0;

        //May
        var urlMay = $"mayjourney/journeysstarted?id={id}";
        HttpResponseMessage responseMay = await Http.GetAsync(urlMay);

        if (responseMay.IsSuccessStatusCode)
        {
            string jsonResponseMay = await responseMay.Content.ReadAsStringAsync();
            if (int.TryParse(jsonResponseMay, out int i))
            {
                totalStarts += int.Parse(jsonResponseMay);
            }
        }
        else
        {
            throw new Exception("Failed to get the number of journeys started may.");
        }

        //June
        var urlJune = $"junejourney/journeysstarted?id={id}";
        HttpResponseMessage responseJune = await Http.GetAsync(urlJune);

        if (responseJune.IsSuccessStatusCode)
        {
            string jsonResponseJune = await responseJune.Content.ReadAsStringAsync();
            if (int.TryParse(jsonResponseJune, out int i))
            {
                totalStarts += int.Parse(jsonResponseJune);
            }
        }
        else
        {
            throw new Exception("Failed to get the number of journeys started June.");
        }

        //July
        var urlJuly = $"julyjourney/journeysstarted?id={id}";
        HttpResponseMessage responseJuly = await Http.GetAsync(urlJuly);

        if (responseJuly.IsSuccessStatusCode)
        {
            string jsonResponseJuly = await responseJuly.Content.ReadAsStringAsync();
            if (int.TryParse(jsonResponseJuly, out int i))
            {
                totalStarts += int.Parse(jsonResponseJuly);
            }
        }
        else
        {
            throw new Exception("Failed to get the number of journeys started July.");
        }

        return totalStarts;
    }

    //Get the total number of journeys ending at the station(id)
    private async Task<int> NumberOfJourneysEnded(int id)
    {

        int totalEnded = 0;

        //May
        var urlMay = $"mayjourney/journeysended?id={id}";
        HttpResponseMessage responseMay = await Http.GetAsync(urlMay);

        if (responseMay.IsSuccessStatusCode)
        {
            string jsonResponseMay = await responseMay.Content.ReadAsStringAsync();
            if (int.TryParse(jsonResponseMay, out int i))
            {
                totalEnded += int.Parse(jsonResponseMay);
            }
        }
        else
        {
            throw new Exception("Failed to get the number of journeys ended may.");
        }

        //June
        var urlJune = $"junejourney/journeysended?id={id}";
        HttpResponseMessage responseJune = await Http.GetAsync(urlJune);

        if (responseJune.IsSuccessStatusCode)
        {
            string jsonResponseJune = await responseJune.Content.ReadAsStringAsync();
            if (int.TryParse(jsonResponseJune, out int i))
            {
                totalEnded += int.Parse(jsonResponseJune);
            }
        }
        else
        {
            throw new Exception("Failed to get the number of journeys ended June.");
        }

        //July
        var urlJuly = $"julyjourney/journeysended?id={id}";
        HttpResponseMessage responseJuly = await Http.GetAsync(urlJuly);

        if (responseJuly.IsSuccessStatusCode)
        {
            string jsonResponseJuly = await responseJuly.Content.ReadAsStringAsync();
             if (int.TryParse(jsonResponseJuly, out int i))
            {
                totalEnded += int.Parse(jsonResponseJuly);
            }
        }
        else
        {
            throw new Exception("Failed to get the number of journeys ended July.");
        }

        return totalEnded;
    }
}